<config>
	<fileExtension>dat</fileExtension>
    <separator>\t</separator>
	<refSample>RS</refSample>
	<controls>
		<individual>
			<control>IND</control>
		</individual>
		<group>
			<control>GROUP</control>
		</group>
	</controls>
	<fieldNames>
		<groupId>HHNR</groupId>
		<individualId>PNR</individualId>
		<individualsPerGroup>APER</individualsPerGroup>
		<count>N</count>
	</fieldNames>
	<algorithms>
		<name>entropy_o(1,0)</name>
		<name>entropy_o(0,1)</name>
		<name>entropy_o(1,1)</name>
		<name>entropy</name>
		<name>ml_ipf</name>
		<name>ipu</name>
	</algorithms>
</config>
