<config>
    <algorithms>
    </algorithms>
    <fileExtension>dat</fileExtension>
    <separator>\t</separator>
    <refSample>RS</refSample>
    <controls>
        <individual>
        </individual>
        <group>
            <control>GROUP</control>
        </group>
    </controls>
    <fieldNames>
        <groupId>HHNR</groupId>
        <individualId>PNR</individualId>
        <individualsPerGroup>APER</individualsPerGroup>
        <count>N</count>
    </fieldNames>
</config>
